<!DOCTYPE html>
<html lang="en" ng-app="moviemusicApp"> <!-- this should have an ng-app -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/index.controller.js"></script>

  </head>
  <body ng-controller="IndexController as indexControl">
    <div class="container-fluid">
      <div class='row'>
        <div class="col-md-12">
          <div class="col-md-8">
               <h1>Movie Soundtrack Poster Finder</h1>
               <img ng-src="{{indexControl.image}}">
          </div>
          <div class="col-md-4" id="searchBar">
                <p>Type in Name of Movie below </p>
                <input type="text" ng-model="indexControl.search_input">
                <button class ="btn btn-primary" ng-click="indexControl.search()">Search</button>
          </div>
          <div class="col-md-4">
                <!-- <h2> Yoga</h2> -->
          </div>

        </div>
        <!-- <div class="col-md-4">
        </div> -->

        <br>

        <!-- <img ng-src="{{indexControl.image}}"> -->
      </div>
    </div>
  </body>
</html>
