body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white; /* Sanity Check! */
  font-family: Verdana;
  margin-bottom: 20px;
}

h1 {
  margin-top: 100px;
  text-align: center;
}

img {
  height: 300px;
  width: 300px;

}

#searchBar {
  margin-top: 25px;
}

.toprow {
  margin-bottom: 20px;
}
